body {
    margin: 0;
    font-family: Arial, san-serif;
    background-color: salmon;
  }
  
  main{
    background-color: salmon;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .teachers {
    list-style: none;
    padding: 0;
  }
  
  .teacher {
    display: inline-block;
    cursor: pointer;
    padding: 20px;
  }
  
  .teacher__img {
    width: 200px;
    height: auto;
  }
  
  .teacher--selected {
    background-color: red
  }

  .background{
      border: solid red 3px;
  }

  .caja{
      width: 200px;
      height: 200px;
      background-color: red;
  }